{% if config.extra.author %}
<div class="flex">

  {% if config.extra.author_img %}
  <img class="w-24 h-24 rounded-full object-cover mr-4" 
    src="{{ get_url(path=config.extra.author_img) }}"
    alt="{{ config.extra.author }}">
  {% endif %}

  <div class="flex-1">
    <h4 class="mt-2 text-lg font-bold text-primary ">{{ config.extra.author }}</h4>

    {% if config.extra.bio %}
    <p class="text-sm text-secondary">{{config.extra.bio }}</p>
    {% endif %}

    {% if config.extra.socials %}
    <div class="flex flex-row gap-x-3 mt-1">  
      {% for social in config.extra.socials %}
        {{ comp::icon_button(x=social) }}
      {% endfor %} 
    </div>
  {% endif %}
  </div>
</div>
{% endif %}