<button id="back-to-top"
  class="fixed right-6 bottom-8 z-50 p-3 rounded-full shadow-lg bg-elevated hover:text-accent
  transition-transform duration-300 ease-in-out opacity-0 translate-y-4 pointer-events-none cursor-pointer
  focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-accent/60 group"
  aria-label="back to top" aria-hidden="true">
  <!-- up arrow svg -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
    class="size-6 transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
    <path fill-rule="evenodd"
      d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z"
      clip-rule="evenodd" />
  </svg>
</button>