{% import "macros/components.html" as comp %}

{% macro render_block(block) %}
  {% if block == "profile" %}
    {% include "blocks/profile.html" %}
  {% elif block == "recent_posts" %}
    {% include "blocks/recent_posts.html" %}
  {% elif block == "experience" %}
    {% include "blocks/experience.html" %}
  {% elif block == "education" %}
    {% include "blocks/education.html" %}
  {% elif block == "featured_projects" %}
    {% include "blocks/featured_projects.html" %}
  {% endif %}
  
{% endmacro %}
