<div class="relative flex flex-col items-center justify-center px-1 py-1 bg-background text-primary">
  <div class="mb-6 h-36 w-36 rounded-full overflow-hidden">
    <img src="{{ config.extra.author_img }}" alt="Profile img" class="h-full w-full object-cover">
  </div>
  <h1 class="text-4xl font-bold mb-4">{{ config.extra.author }}</h1>
  <p class="text-xl">{{ config.extra.subtitle }}</p>

  {% if config.extra.socials %}
  <div class="flex flex-row gap-x-6 mt-6 mb-10">
    {% for social in config.extra.socials %}
    {{ comp::icon_button(x=social) }}
    {% endfor %}
  </div>
  {% endif %}
</div>