{% set profile = load_data(path="data/profile.toml") %}

<div class="flex flex-col items-center px-1 py-1 bg-background text-text">
  <img class="mb-6 h-36 w-36 rounded-full" src="{{ profile.image }}" alt="Profile img" >
  <h1 class="text-5xl font-bold mb-4">{{ profile.title }}</h1>  
  <p class="text-xl">{{ profile.subtitle }}</p>
  
  {% if config.extra.socials %}
    <div class="flex flex-row gap-x-6 mt-6">  
      {% for social in config.extra.socials %}
        {{ comp::icon_button(x=social) }}
      {% endfor %} 
    </div>
  {% endif %}
</div>

