{% set section = get_section(path="./posts/_index.md") %}

<div class="relative flex flex-col grow">
  <div class="mt-8 mb-12">
    <h2 class="text-2xl font-bold text-primary">Recent</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for page in section.pages | slice(end=12) %}
    <article class="block group bg-elevated rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
      <a href="{{ page.permalink }}" class="rounded-lg hover:text-blue-500 transition-all duration-300">
        {% if page.extra.image %}
        <div class="overflow-hidden rounded-t-lg">
          <img src="{{ page.extra.image }}" alt="{{ page.title }}" 
          class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300">
        </div>
        {% endif %}

        <div class="p-6">
          <h3 class="text-xl font-bold mb-2">
            {{ page.title }}
          </h3>

          <div class="flex items-center mb-3 text-sm text-secondary ">
            <time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time>
            {% if page.reading_time %}
            <span class="mx-2">•</span>
            <span>{{ page.reading_time }} min read</span>
            {% endif %}
          </div>

          {% if page.description %}
          <p class="text-gray-700 dark:text-gray-300 mb-4">
            {{ page.description }}
          </p>
          {% endif %}

          {% if page.taxonomies.tags %}
          <div class="flex flex-wrap gap-2">
            {% for tag in page.taxonomies.tags | slice(end=3) %}
            <span class="text-xs bg-gray-200 dark:bg-gray-700 px-2 py-1 rounded">
              {{ tag }}
            </span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </a>
    </article>
    {% endfor %}
  </div>

  <div class="text-center mt-12">
    <a href=""
      class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg transition-colors duration-300">
      Show More →
    </a>
  </div>
</div>
