<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html" %}
</head>
<body class="flex flex-col min-h-screen m-auto leading-7 max-w-7xl px-6 sm:px-14 md:px-24 lg:px-32 bg-background text-primary">
  {% include "partials/navbar.html" %}

  <main class="flex-1">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/backtotop.html" %}

  {% include "partials/footer.html" %}

  {% include "partials/search_modal.html" %}

  <!-- JavaScript -->
   <script src="{{ get_url(path='js/main.js')}}" defer></script>
   <script src="{{ get_url(path='js/navbar.js')}}" defer></script>
   <script src="{{ get_url(path='js/backtotop.js')}}"></script>
   <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
   <script src="/pagefind/pagefind-ui.js"></script>
   <script src="{{ get_url(path='js/search.js')}}" defer></script>
</body>
</html>