{# Hero #}
{% macro profile(profile) %}
  {% include "sections/profile.html" %}
{% endmacro %}

{# Recent Posts #}
{% macro recent_posts(pages) %}
    <section id="recent-posts">...</section>
{% endmacro %}

{# Featured Projects #}
{% macro featured_projects(projects) %}
    <section id="featured-projects">...</section>
{% endmacro %}

{# Tech Stack #}
{% macro tech_stack(tech) %}
    <section id="tech-stack">...</section>
{% endmacro %}

{# Timeline #}
{% macro timeline(timeline_items) %}
    <section id="timeline">...</section>
{% endmacro %}

{# Social Icons Macro #}
{% macro icon_button(x) %}
  {% set icons = load_data(path="data/icons.json") %}
    <a href="{{ x.url }}" 
        class="text-text/70 hover:text-text transition-colors duration-300"
    >
        {{ icons[x.name] | safe }}
    </a>
{% endmacro %}
