{# Hero #}
{% macro hero(hero) %}
  {% include "sections/hero.html" %}
{% endmacro %}

{# Recent Posts #}
{% macro recent_posts(pages) %}
    <section id="recent-posts">...</section>
{% endmacro %}

{# Featured Projects #}
{% macro featured_projects(projects) %}
    <section id="featured-projects">...</section>
{% endmacro %}

{# Tech Stack #}
{% macro tech_stack(tech) %}
    <section id="tech-stack">...</section>
{% endmacro %}

{# Timeline #}
{% macro timeline(timeline_items) %}
    <section id="timeline">...</section>
{% endmacro %}